@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; box-sizing: border-box;
}

header, footer {
    width: 100%;
    text-align: center;
    background-color: grey;
    color: whitesmoke;
}
.inline{
    display: inline-block;
}
footer{
    margin: 10% 0% 0% 2%;
}
body{
    margin: 2% 10% 10% 10%;
}
nav {
    margin: 2% 0% 0% 2%;
    text-align: center;
    display: inline-block
}
article{
    margin: 10% 2% 2% 2%;
}
.boxImageRight{
    float: right;
    margin-top:-5%;
}
.boxImageLeft{
    float: left;
    margin-top:-5%;
}
.insideSlider{
    margin-top:-10%;
    background-color: #ffffff;
}