@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; box-sizing: border-box;
}

body {
    margin: 2% 10% 2% 10%;
}
header, footer {
    background-color: grey;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div h1, h2 {
    text-align: center;
}

header img {
    width:150px;
}
.forecast{
    width: 100%;
    text-align:center;
    background-color:#4c2a85;
    color:white;
    padding:10px;
}
.forecast table{
    width:100%;
    padding:10px;
}
.forecast h3{
    background-color:#eff1f4;
    padding:10px;
    color:black;
    
}
footer{
    margin: 2% 0% 2% 0%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
nav {
    background-color: #4c2a85;
    padding: 2%;
}
nav ul{
    list-style-type: none;
}
nav ul.hide{
    display: block;
}

nav ul li a {
    color:#ffffff;
}
nav button{
    display: none;
}

#menulist{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.menuitem {
    flex-basis: 100px;
}

article{
    margin: 3% 0% 3% 0%;
}
article img{
    width:200px;
}
h1{
    text-align: center;
}
.slider img{
    width: 100%;
}
.boxImageRight{
    float: right;
    margin-top:-155px;
    
}
.firstArticle div p{

    display: inline-block;
    width:70%;
}
.boxImageLeft{
    float: left;
    width: 25%;
}
article{
    padding:25px;
    width: 100%;
    background-color: #eff1f4 ;
}
.secondArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondArticle h2{
    text-align: center;
}
.insideSlider{
    position: absolute;
    padding:15px;
    margin-top: -25%;
    margin-bottom: 25%;
    margin-left: 2%;
    background-color: #eff1f4 ;
}
.inline2{
    display: inline-block;
    text-align: center;
}
.weather-summary-option{
    color: #1c5d99;
}
.firstText{
    width: 100%;
}
.secondText{
    width: 100%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #fff;
 }
.box {
    width: 100%;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
    }
.box img{
    width: 100%;
}
 .box:hover{
     box-shadow: 2px 5px 5px 5px #4c2a85;
 }
 #map{
    width:100%;
}